ThrustCurveBrowser/Schema/MotorSearchService.wsdl

<!--WSDL generated by thinktecture WSCF; version 2.1.0.0-->
<!--Sunday, 30-12-2018 - 05:36 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:import1="http://www.thrustcurve.org/2014/DownloadResponse"
             xmlns:import2="http://www.thrustcurve.org/2014/MetadataRequest"
             xmlns:tns="urn:app:motorsearch"
             xmlns:import3="http://www.thrustcurve.org/2008/MetadataResponse"
             xmlns:import4="http://www.thrustcurve.org/2014/SearchRequest"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:import5="http://www.thrustcurve.org/2011/SearchResponse"
             xmlns:import0="http://www.thrustcurve.org/2014/DownloadRequest"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             name="MotorSearchService"
             targetNamespace="urn:app:motorsearch"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="download-request.xsd" namespace="http://www.thrustcurve.org/2014/DownloadRequest" />
      <xsd:import schemaLocation="download-response.xsd" namespace="http://www.thrustcurve.org/2014/DownloadResponse" />
      <xsd:import schemaLocation="metadata-request.xsd" namespace="http://www.thrustcurve.org/2014/MetadataRequest" />
      <xsd:import schemaLocation="metadata-response.xsd" namespace="http://www.thrustcurve.org/2008/MetadataResponse" />
      <xsd:import schemaLocation="search-request.xsd" namespace="http://www.thrustcurve.org/2014/SearchRequest" />
      <xsd:import schemaLocation="search-response.xsd" namespace="http://www.thrustcurve.org/2011/SearchResponse" />
    </xsd:schema>
  </types>
  <message name="searchMotorsIn">
    <part name="parameters" element="import4:search-request" />
  </message>
  <message name="searchMotorsOut">
    <part name="parameters" element="import5:search-response" />
  </message>
  <message name="searchDownloadsIn">
    <part name="parameters" element="import0:download-request" />
  </message>
  <message name="searchDownloadsOut">
    <part name="parameters" element="import1:download-response" />
  </message>
  <message name="getMetadataIn">
    <part name="parameters" element="import2:metadata-request" />
  </message>
  <message name="getMetadataOut">
    <part name="parameters" element="import3:metadata-response" />
  </message>
  <portType name="MotorSearchServiceInterface">
    <operation name="SearchMotors">
      <input message="tns:searchMotorsIn" />
      <output message="tns:searchMotorsOut" />
    </operation>
  </portType>
  <portType name="DownloadSearchServiceInterface">
    <operation name="SearchDownloads">
      <input message="tns:searchDownloadsIn" />
      <output message="tns:searchDownloadsOut" />
    </operation>
  </portType>
  <portType name="MetadataSearchServiceInterface">
    <operation name="GetMetadata">
      <input message="tns:getMetadataIn" />
      <output message="tns:getMetadataOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_MotorSearchServiceInterface" type="tns:MotorSearchServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="SearchMotors">
      <soap:operation soapAction="urn:app:motorsearch:searchMotorsIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="BasicHttpBinding_DownloadSearchServiceInterface" type="tns:DownloadSearchServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="SearchDownloads">
      <soap:operation soapAction="urn:app:motorsearch:searchDownloadsIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="BasicHttpBinding_MetadataSearchServiceInterface" type="tns:MetadataSearchServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetMetadata">
      <soap:operation soapAction="urn:app:motorsearch:getMetadataIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MotorSearchServicePort">
    <port name="MotorSearchServicePort" binding="tns:BasicHttpBinding_MotorSearchServiceInterface">
      <soap:address location="http://www.thrustcurve.org/servlets/search" />
    </port>
    <port name="DownloadSearchServicePort" binding="tns:BasicHttpBinding_DownloadSearchServiceInterface">
      <soap:address location="http://www.thrustcurve.org/servlets/download" />
    </port>
    <port name="MetadataSearchServicePort" binding="tns:BasicHttpBinding_MetadataSearchServiceInterface">
      <soap:address location="http://www.thrustcurve.org/servlets/metadata" />
    </port>
  </service>
</definitions>