ThrustCurveBrowser/Schema/MotorSearchService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tc.request.search="http://www.thrustcurve.org/2014/SearchRequest"
             xmlns:tc.request.download="http://www.thrustcurve.org/2014/DownloadRequest"
             xmlns:tc.request.metadata="http://www.thrustcurve.org/2014/MetadataRequest"
             xmlns:tc.response.search="http://www.thrustcurve.org/2011/SearchResponse"
             xmlns:tc.response.download="http://www.thrustcurve.org/2014/DownloadResponse"
             xmlns:tc.response.metadata="http://www.thrustcurve.org/2008/MetadataResponse"
             name="MotorSearchService"
             targetNamespace="urn:app:motorsearch"
             xmlns:tns="urn:app:motorsearch">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="download-request.xsd" namespace="http://www.thrustcurve.org/2014/DownloadRequest" />
      <xsd:import schemaLocation="download-response.xsd" namespace="http://www.thrustcurve.org/2014/DownloadResponse" />
      <xsd:import schemaLocation="metadata-request.xsd" namespace="http://www.thrustcurve.org/2014/MetadataRequest" />
      <xsd:import schemaLocation="metadata-response.xsd" namespace="http://www.thrustcurve.org/2008/MetadataResponse" />
      <xsd:import schemaLocation="search-request.xsd" namespace="http://www.thrustcurve.org/2014/SearchRequest" />
      <xsd:import schemaLocation="search-response.xsd" namespace="http://www.thrustcurve.org/2011/SearchResponse" />
    </xsd:schema>
  </types>
  <message name="SearchParameters">
    <part name="parameters" element="tc.request.search:search-request" />
  </message>
  <message name="SearchResults">
    <part name="parameters" element="tc.response.search:search-response" />
  </message>
  <message name="DownloadSearchParameters">
    <part name="parameters" element="tc.request.download:download-request" />
  </message>
  <message name="DownloadSearchResults">
    <part name="parameters" element="tc.response.download:download-response" />
  </message>
  <message name="MetadataParameters">
    <part name="parameters" element="tc.request.metadata:metadata-request" />
  </message>
  <message name="MetadataResults">
    <part name="parameters" element="tc.response.metadata:metadata-response" />
  </message>
  <portType name="MotorSearchInterface">
    <operation name="SearchMotors">
      <input message="tns:SearchParameters" />
      <output message="tns:SearchResults" />
    </operation>
    <operation name="SearchDownloads">
      <input message="tns:DownloadSearchParameters" />
      <output message="tns:DownloadSearchResults" />
    </operation>
    <operation name="GetMetadata">
      <input message="tns:MetadataParameters" />
      <output message="tns:MetadataResults" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_MotorSearchInterface" type="tns:MotorSearchInterface">
    <http:binding verb="POST" />
    <operation name="SearchMotors">
      <http:operation location="search" />
      <input>
        <mime:mimeXml />
      </input>
      <output>
        <mime:mimeXml />
      </output>
    </operation>
    <operation name="SearchDownloads">
      <http:operation location="download" />
      <input>
        <mime:mimeXml />
      </input>
      <output>
        <mime:mimeXml />
      </output>
    </operation>
    <operation name="GetMetadata">
      <http:operation location="metadata" />
      <input>
        <mime:mimeXml />
      </input>
      <output>
        <mime:mimeXml />
      </output>
    </operation>
  </binding>
  <service name="MotorSearchServicePort">
    <port name="MotorSearchServicePort" binding="tns:BasicHttpBinding_MotorSearchInterface">
      <http:address location="http://www.thrustcurve.org/servlets/search" />
    </port>
  </service>
</definitions>